{#
/**
 * @file
 * Template for a Node.
 */
#}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
    <h2><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
